.App {
  text-align: center;
  background-color: #121212;
  color: white;
  min-height: 100vh;
  padding-top: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 50px;
  padding-left: 50px;
}
